In [0]:
import pandas as pd
import numpy as np
# Importing the libraries
from tensorflow import keras
from keras.callbacks import ModelCheckpoint
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error 
from matplotlib import pyplot as plt
import seaborn as sb
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=DeprecationWarning)

Using TensorFlow backend.

In [0]:
from google.colab import files
uploaded=files.upload()

Saving Historical Sales.xlsx to Historical Sales.xlsx

In [0]:
df = pd.read_excel('Historical Sales.xlsx')

a = df.iloc[:,1].values
a = pd.DataFrame({'name': a})
a = a.name.unique()
print(a)
pd.DataFrame(df)                     #shows the dataset

['AHMEDABAD BRANCH' 'AHM.-JAIPUR C.&F. AGENT' 'AMBALA' 'BANGALORE BRANCH'
 'BANGALORE-HUBLI C&F AGENT' 'CALCUTTA BRANCH'
 'CALCUTTA -CUTTACK C.&F. AGENT' 'CALCUTTA -GAUHATI C.&F. AGENT'
 'CALCUTTA - PATNA C.& F. AGENT' 'CALCUTTA -RANCHI  C.&F. AGENT'
 'CHANDIGARH' 'CHENNAI BRANCH' 'DEHRADUN' 'DELHI' 'ERNAKULAM BRANCH'
 'GHAZIABAD' 'HEAD OFFICE - KONDIVITA' 'HYDERABAD BRANCH' 'JAMMU C & F A'
 'KANPUR' 'MUMBAI BHIVANDI C & F' 'MUMBAI BRANCH.'
 'MUMBAI-INDORE C & F. AGNT' 'MUMBAI - NAGPUR C & F'
 'MUMBAI-PUNE C & F. AGNT' 'MUMBAI-  RAIPUR C & F AGENT' 'PARWANOO'
 'ZIRAKPUR']

           Date         Locations  ... Forecast SellingPrice
0    2004-01-01  AHMEDABAD BRANCH  ...      607        48.80
1    2004-02-01  AHMEDABAD BRANCH  ...      602        48.80
2    2004-03-01  AHMEDABAD BRANCH  ...      540        48.80
3    2004-04-01  AHMEDABAD BRANCH  ...     1772        64.00
4    2004-05-01  AHMEDABAD BRANCH  ...     2771        64.00
5    2004-06-01  AHMEDABAD BRANCH  ...     1138        64.00
6    2004-07-01  AHMEDABAD BRANCH  ...     2067        64.00
7    2004-08-01  AHMEDABAD BRANCH  ...     1781        64.00
8    2004-09-01  AHMEDABAD BRANCH  ...     2402        64.00
9    2004-10-01  AHMEDABAD BRANCH  ...     3049        64.00
10   2004-11-01  AHMEDABAD BRANCH  ...     1355        64.00
11   2004-12-01  AHMEDABAD BRANCH  ...      572        64.00
12   2005-01-01  AHMEDABAD BRANCH  ...     1531        64.00
13   2005-02-01  AHMEDABAD BRANCH  ...      853        64.00
14   2005-03-01  AHMEDABAD BRANCH  ...      665        63.35
15   2005-04-01  AHMEDABAD BRANCH  ...     3528        64.00
16   2005-04-01  AHMEDABAD BRANCH  ...     3528        64.00
17   2005-05-01  AHMEDABAD BRANCH  ...      642        63.35
18   2005-05-01  AHMEDABAD BRANCH  ...      642        63.35
19   2005-06-01  AHMEDABAD BRANCH  ...      758        65.70
20   2005-07-01  AHMEDABAD BRANCH  ...     1364        65.70
21   2005-08-01  AHMEDABAD BRANCH  ...     2090        65.70
22   2005-09-01  AHMEDABAD BRANCH  ...     6200        66.00
23   2005-10-01  AHMEDABAD BRANCH  ...     2852        66.00
24   2005-11-01  AHMEDABAD BRANCH  ...     3137        66.00
25   2005-12-01  AHMEDABAD BRANCH  ...      320        66.00
26   2006-01-01  AHMEDABAD BRANCH  ...      820        66.00
27   2006-02-01  AHMEDABAD BRANCH  ...      414        66.00
28   2006-03-01  AHMEDABAD BRANCH  ...      271         0.00
29   2006-03-01  AHMEDABAD BRANCH  ...      271         0.00
...         ...               ...  ...      ...          ...
8693 2004-04-01          ZIRAKPUR  ...     2000        37.70
8694 2004-05-01          ZIRAKPUR  ...     1750        37.70
8695 2004-06-01          ZIRAKPUR  ...     1710        37.70
8696 2004-07-01          ZIRAKPUR  ...     4110        37.70
8697 2004-08-01          ZIRAKPUR  ...      800        37.70
8698 2004-09-01          ZIRAKPUR  ...     2880        37.70
8699 2004-10-01          ZIRAKPUR  ...     3900        37.70
8700 2004-11-01          ZIRAKPUR  ...     2300        37.70
8701 2004-12-01          ZIRAKPUR  ...      810        37.70
8702 2005-01-01          ZIRAKPUR  ...      380         0.00
8703 2005-02-01          ZIRAKPUR  ...     1500        37.70
8704 2005-03-01          ZIRAKPUR  ...     1180        37.70
8705 2005-04-01          ZIRAKPUR  ...     4880        37.70
8706 2005-05-01          ZIRAKPUR  ...     1730        35.30
8707 2005-06-01          ZIRAKPUR  ...     2350        35.30
8708 2005-07-01          ZIRAKPUR  ...     3680        35.30
8709 2005-08-01          ZIRAKPUR  ...    14820        35.30
8710 2005-09-01          ZIRAKPUR  ...     6300        35.30
8711 2005-10-01          ZIRAKPUR  ...     8970        35.30
8712 2005-11-01          ZIRAKPUR  ...     2040        35.30
8713 2005-12-01          ZIRAKPUR  ...      610        35.30
8714 2006-01-01          ZIRAKPUR  ...      480        35.30
8715 2006-02-01          ZIRAKPUR  ...     2900        35.30
8716 2006-03-01          ZIRAKPUR  ...     1270        35.30
8717 2006-04-01          ZIRAKPUR  ...     2080        35.30
8718 2006-05-01          ZIRAKPUR  ...     4200        35.30
8719 2006-06-01          ZIRAKPUR  ...     2590        35.30
8720 2006-07-01          ZIRAKPUR  ...     4040        35.30
8721 2006-08-01          ZIRAKPUR  ...     5870        35.30
8722 2006-09-01          ZIRAKPUR  ...     4090        35.30

[8723 rows x 8 columns]

In [0]:
def Regression(X, y):
  from sklearn.model_selection import train_test_split
  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 10)
  from sklearn.linear_model import LinearRegression
  regressor = LinearRegression()
  regressor.fit(X_train, y_train)
  y_pred = regressor.predict(X_test)
  return (np.mean(np.abs((y_pred - y_test)/y_test)*100))

In [0]:
def Neural_network(X, y):
  from sklearn.model_selection import train_test_split
  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 10)


  NN_model = Sequential()

    # The Input Layer :
  NN_model.add(Dense(128, kernel_initializer='normal',input_dim = X_train.shape[1], activation='relu'))

    # The Hidden Layers :
  NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
  NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
  NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))

    # The Output Layer :
  NN_model.add(Dense(1, kernel_initializer='normal',activation='linear'))

    # Compile the network :
  NN_model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_percentage_error'])
    #NN_model.summary()

  checkpoint_name = 'Weights-{epoch:03d}--{val_loss:.5f}.hdf5' 
  checkpoint = ModelCheckpoint(checkpoint_name, monitor='val_loss', verbose = 1, save_best_only = True, mode ='auto')
  callbacks_list = [checkpoint]

  NN_model.fit(X_train, y_train, epochs=1000, batch_size=32, validation_split = 0.2, callbacks=callbacks_list)

  y_pred = NN_model.predict(X_test)
  return(np.mean(np.abs((y_test - y_pred)*100/y_test)))

In [0]:
def prepare(city): 
  df2 = df.loc[df['Locations'] == str(city)]
  df2 = df2[~(df2['Forecast'] == 0)]           
  df2 = pd.get_dummies(df2, drop_first = False)
  pd.get_dummies(df2, drop_first = False)                                    # one hot encoding
  X = df2.loc[:,["Sales","SellingPrice"]].values
  X1 = df2.iloc[:,7:18]
  X = np.concatenate((X,X1), axis = 1)
  y = df2.loc[:,["Forecast"]].values
  return X, y

In [0]:
result = []
result2 = []

for i in a:
  #print(i)
  X, y = prepare(i)
  #print(len(X))
  result.append(Regression(X, y))
  #result2.append(Neural_network(X, y))

In [0]:
pd.DataFrame([a, result])

                 0                        1   ...        26        27
0  AHMEDABAD BRANCH  AHM.-JAIPUR C.&F. AGENT  ...  PARWANOO  ZIRAKPUR
1           53.4068                  119.138  ...    220.48   87.3396

[2 rows x 28 columns]

In [0]:
#To get neural network outcome of a particular city:
#X, y = prepare('Location-Name')            #It should be one of the location present in 'a' 
#MAPE = (Neural_network(X, y))